.home-bg-image{
    width: 100%;
    min-height: 500px;
    background-image: url('../images/accounting-budget-calculate-3305.jpg');   
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: cover;
    margin-top: 50px;
}
.interest-calc-form{
    position: relative;
    top: 100px;
}
.login-form{
    position: relative;
    top: 70px;
}


.home-overlay{
    min-height: 550px;
    /* top: 50px !important; */
}
.home-banner{
    margin-top: 165px;
    height: 300px !important;
    margin-bottom: 20px;
    height: auto;
}
.application-form *, .application-form label {
    color: firebrick;
    border-color: firebrick;
}

.message-category{
    background-color: rgb(243, 243, 243);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.message-category ul{
    text-align: left;
    padding: 0px;
}

.message-category ul li{
    list-style-type: none;
    padding: 5px;
}
.active-category{
    background-color: gainsboro;
    border: .3px solid gray;
    border-left: none;
    border-right: none;
}

.category-content{
    height: 400px;
    background-color: rgb(252, 252, 252);
    margin-top: 20px;
}

.category-content *{
    color: firebrick;
    border-color: firebrick;
}

.category-content .body{
    margin-top: 20px;
}

.category-content textarea{
    color: firebrick;
    border-color: firebrick;
}

.category-content .action{
    margin-top: 30px;
}
.category-content .action *{
    float: right;
}

@media only screen and (min-width: 720px) {
    .interest-calc-form{
        left: 100px;
    }
    /* .home-banner{
        margin-top: 0px;
        height: 160px !important;
    } */
}