/* Primary #6028c1
text #f5ce42 */

*{
    box-sizing: border-box;
}
body,html,.container{
    height: 100%;
}
body{
    background-color: white;
}
.container{
    position: relative;
    width: 100%;
}
.row{
    width: 100%;
}
[class*="col-"]{
    width: 100%;
    float: left;
    padding: 15px;
    padding-top: 0px;
}
[class*="col-"]::after{
    content: " ";
    display: table;
    clear: both;
}
[class*="offset-"]{
    margin-left: 0%;
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
}


.bg-black{
    background-color: black;
}
.opacity-5{
    opacity: .5;
}
.opacity-7{
    opacity: .7;
}
.opacity-8{
    opacity: .8;
}
.opacity-9{
    opacity: .9;
}

/* Padding */
.padding-16{
    padding: 16px;
}
.no-padding{
    padding: 0px;
}

.form form{
    display: block;
}
.primary-color{
    color: white;
    font-weight: bold;
    font-size: 16px
}
.size-16{
    font-size: 16px;
}
.heading{
    color: #f5ce42;
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}
.primary-bg-color{
    background-color: rgb(170, 12, 12);
}
.primary-bg-color:hover{
    background-color: red;
}
.color-red{
    color: firebrick;
}
.color-red:hover{
    color: red;
}

a{
    color: firebrick;
    text-decoration: none;
}
a:hover{
    color: red;
}

/* Form css */
.input-wrapper{
    margin-bottom: 35px;
}
label{
    font-weight: bolder;
    font-size: 18px;
    color: white;
}
input{
    border: none;
    background-color: transparent;
    border-bottom: .1px solid rgb(224, 223, 223);
    height: 30px;
    width: 100%;
    color: white
}
input.isrequired{
    border-bottom: 1px solid red;
    transition: all 0.5s linear;
}
input:focus{
    border-bottom: 1px solid red;
    outline: none;
    transition: all 0.5s linear;
}
.input-group .input-wrapper{
    width: auto;
    float: left;
    margin-right: 40px;
}

.input-group::after{
    content: " ";
    display: table;
    clear: both;
}
::placeholder{
    color: white;
    opacity: .7
}
.btn{
    min-width: 70px;
    height: 25px;
    border: none;
    background-color: firebrick;
    color: white;
    font-weight: 900;
}
.btn:hover, .btn:focus{
    background-color: red;
    transition: all 0.5s linear;
}

.form{
    margin-bottom: 50px;
    padding: 10px;
    /* box-shadow: 3px 2px rgb(226, 226, 226); */
}
.form-selection{
    margin-bottom: 25px;
    padding: 10px;
    background-color: firebrick;
    height: 40px;

}

.form-selection a{
    font-size: 20px;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu{
    position: relative;
    height: 50px;
    background-color: rgb(105, 19, 19);
    z-index: 10;
}
.menu nav{
    position: absolute;
    top: 5px;
    right: 0px;
    float: right;
    color: white;
    padding: 10px
}
.menu nav::after{
    display: table;
    content: " ";
    clear: both;
}
.menu nav a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    font-size: 17px;
}
.menu nav a:hover {
    color: #f5ce42;
}
.logo{
    display: inline-block;
    color: #f5ce42;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px;
}

.sidebar{
    height: 500px;
    background-color: red;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
    opacity: .9;
}
.sidebar a{
    display: block;
    text-align: left
}
.sidebar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 2px;
}
.sidebar a i{
    color: firebrick;
    font-size: 13px;
}
.sidebar a:hover{
    color: red;
}
.sidebar .account-name{
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px solid firebrick;
    text-align: center;
}
.content{
    width: 100%;
    position: relative;
}
.page-title{
    padding: 5px;
    border-bottom: 2px solid firebrick;
    display: none;
}
.page-title span{
    color: firebrick;
    font-size: 20px;
    font-weight: bold;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.card{
    height: 180px;
    width: 230px;
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(216, 213, 213);
}
.card-header{
    padding: 5px;
    margin-bottom: 30px;
}
.card-header span:nth-child(1){
    float: left;
    color: firebrick;
}
.card-header span:nth-child(2){
    float: right;
    color: gray;
}
.card-header span::after{
    content: " ";
    display: table;
    clear: both;
}
.card-content{
    padding: 5px;
}
.card-content span{
    display: block;
    color: firebrick;
    font-weight: 500;
}

.card-content span i{
    color: gray;
    font-size: 14px;
}
.card-content span i::before{
   content: ":";
   color: red;
}

.card-content a{
    margin-top: 20px;
    background-color: firebrick;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 2px;
    float: right;
}
.card-content a:hover{
    background-color: red;
}

.banner{
    height: 150px;
    background-color:firebrick;
    width: 100%;
    opacity: .9;
}
.banner-text{
    font-size: 20px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.full-height{
    height: 100%;
}

/* Position */
.position-relative{
    position: relative;
}


.alert{
    height: 100px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: .8;
    z-index: 999;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}
.close-btn{
    color: white;
    font-weight: bold;
    position: absolute;
    right: 5px;
}
.close-btn:hover{
    color: red;
}
.message{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.notification{
    height: 150px;
    width: 300px;
    background-color: orange;
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: .8;
    z-index: 999;
}
.modal{
    height: 350px;
    width: 70%;
    background-color: green;
    position: fixed;
    top: 20%;
    left: 15%;
    z-index: 999;
}
.success{
    background-color: green;
}
.warning{
    background-color: yellow;
}

.danger{
    background-color: red;
}

.info{
    background-color: orange;
}


.alert, .notification, .modal{
    display: none;
}
.show{
    display: block;
}

.hide{
    display: none;
}

