@media only screen and (min-width: 700px) {
    .content-box{
        width: 90%;
    }
    .page-title{
        display: block;
    }
    .card{
        margin: 0px;
        margin-bottom: 20px;
    }
    .col-1{width: 8.33%}
    .col-2{width: 16.66%}
    .col-3{width: 24.99%}
    .col-4{width: 32.32%}
    .col-5{width: 41.65%}
    .col-6{width: 49.98%}
    .col-7{width: 58.31%}
    .col-8{width: 66.64%}
    .col-9{width: 74.97%}
    .col-10{width: 83.3%}
    .col-11{width: 91.63%}
    .col-12{width: 100%}

    .offset-1{margin-left: 8.33%}
    .offset-2{margin-left: 16.66%}
    .offset-3{margin-left: 24.99%}
    .offset-4{margin-left: 32.32%}
    .offset-5{margin-left: 41.65%}
    .offset-6{margin-left: 49.98%}
    .offset-7{margin-left: 58.31%}
    .offset-8{margin-left: 66.64%}
    .offset-9{margin-left: 74.97%}
    .offset-10{margin-left: 83.3%}
    .offset-11{margin-left: 91.63%}
    .offset-12{margin-left: 100%}
}